<h2>Editing Question</h2>
</section>
<section id="main">
<%= render 'form', question: @question %>
<a class="button center" href="javascript:history.back()"><button>Back</button></a>

<%= tinymce_assets %>
<%= tinymce %>