<h2>New Question</h2>
</section>
<section id="main">
<%= render 'form', question: @question %>

<label>&nbsp;</label><a href="javascript:history.back()"><button>Back</button></a>
<%= tinymce_assets %>
<%= tinymce %>