<h2>Login</h2>
</section>
<section id="main">
<%= form_tag sessions_path do |form| %>
  <div class="field">
    <label>Email:</label>
    <input type="text" name="email" id="email" autofocus>
  </div>
  <div class="field">
    <label>Password:</label>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <label>&nbsp;</label><%= submit_tag "Login" %>
  </div>
<% end %>