html {
	font-family: verdana;
	background: #000;
}

* {
	cursor: default;
	outline: 0;
}

a, a img, textarea {
	cursor: pointer;
}

body {
	width: 1202px;
	min-height: 950px;
	margin: 0 auto;
}

section#head {
	position: fixed;
	width: 1203px;
	background: #000;
}

section#main {
	float: left;
	margin: 80px 0 25px 0;
	padding: 80px 10px 0px 10px;
	width: 98.45%;
	background: #ddd;
}

section.f_left, section.f_right {
	width: 49.5%;
	float: left;
}

hr {
	margin: 5px 0 15px 0;
	width: 100%;
	float: left;
	color: #666;
}

h1, h2 {
	text-align: center;
	color: #fff;
	padding: 5px 0;
	margin-top: 0;
	margin-bottom: 0;
}

h3 {
	text-align: center;
	margin-top: 10px;
}

h1 {
	font-size:2em;
	border-bottom: 2px solid #fff;
}

h2 {
	font-size:1.5em;
	border-top: 2px solid #fff;
	margin-top: 1px;
}

nav {
    border-width:1px 0;
    padding: 0;
}

nav a {
	text-decoration: none;
	margin: 0;
	padding: 11px;
	background: #333;
	color: #fff;
	position: relative;
	top: 10px;
	border: 1px solid #fff;
}

nav a:hover, nav a.active {
	background: #666;
}

nav a:hover {
	border-color: #6f6;
}

div.field, div.error_explanation {
	width: 100%;
	float: left;
	min-height: 25px;
	margin-bottom: 10px;
}

div.field_with_errors {
	border-color: #c00 !important;
	float: left;
}

div.field_with_errors input, div.field_with_errors textarea, div.field_with_errors label.small {
	border-color: #c00 !important;
	float: left !important;
}

label {
	width: 200px;
	float: left;
	text-align: right;
	margin-right: 10px;
	font-weight: bold;
}

input, textarea, select {
	border: 2px solid #666;
	font-size: 1em;
	cursor: pointer;
}

input[type="text"] {
	min-width: 525px;
}

input:focus, select:focus, textarea:focus, button:hover, input:hover, input[type="submit"]:hover {
  border-color: #090;
}

#main a:hover, #main a button:hover {
	text-decoration: none !important;
}

select {
	width: 200px;
}

input[type="password"] {
	width: 195px;
}

div.tox-editor-container {
	min-width: 738px !important;
}

textarea {
	min-width: 525px;
	min-height: 220px;
	font-family: verdana;
}

table {
	width: 100%;
	margin: 0 auto 12px auto;
	border: 1px solid black;
	background: #fff;
}

table td {
	padding: 5px 2px;
}

table th {
	background: #000;
	color: #fff;
	padding: 5px;
}

section#main a, section#main a:visited {
	color: #000;
	text-decoration: none;
}

section#main a:hover {
	text-decoration: underline;
}


section#main table a:hover {
	text-decoration: underline !important;
}


a button, input[type="submit"] {
	min-width: 155px;
	font-size: 1em;
	border: 2px solid #666;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 1px 0;
}

input[type="submit"] {
	margin-bottom: 10px;
}

iframe {
	border: none;
	width: 100%;
	height: 275px;
}

label.small {
	width: 0;
	min-width: 200px;
	float: none;
}

ul.options {
  list-style: none;
  margin-left: 0;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-left: 0;
}

ul.options li {
  display: block;
  clear: left;
  border-top: 2px dotted #111;
  line-height: 2.7em;
  padding-top: 5px;
}

ul.options li input {
  margin-right: 10px !important;
  margin-top: 13px !important;
  float: left;
}

section.question {
  width: 80%;
  max-height: 80%;
  margin: 25px auto;
}

span.q_text {
  font-size: 1.3em !important;
  margin-bottom: 10px;
}

section.question code {
  font-size: 1.3em !important;
  font-weight: normal;
}

section.question fieldset {
  border: 3px solid #111;
  padding: 10px 20px !important;
  border-radius: 10px;
  background: #ccc;
}

section.question legend {
  border: 3px solid #111;
  padding: 10px !important;
  border-radius: 10px;
  font-weight: bold;
  background: #bbb;
  font-size: 1.5em;
  margin: 0 auto;
}

.hint {
	color: #4c4;
	text-shadow: 1px 1px #000;
}

section.question label {
  float: none;
  width: 100%;
  text-align: left;
  font-weight: normal;
}

section.question img {
  margin-bottom: 5px;
}

span.text {
  float: left;
  width: 90%;
  font-size: 1.35em !important;
  line-height: 1.75em;
}

a.center {
	float: none;
	margin: 0 auto;
}

a.center button {
	float: none;
	margin: 0 auto 10px auto;
	display: block;
	width: 350px;
	height: 35px;
}

tr.odd {
  background: #ddd;
}

tr.even {
  background: #ccc;
}

footer {
	border-top: 2px solid #fff;
	width: 100%;
	min-height: 35px;
	float: left;
	color: #fff;
	padding: 15px 0;
	margin: 0;
	text-align: right;
	display: block;
}

footer a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

table#latest_results {
	width: 40% !important;
}

.hover_underline:hover {
  text-decoration: underline !important;
}

/* NAV ****************************************** */

nav ul {
	padding: 0;
  	margin: 0;
	list-style: none;
	position: relative;
}
	
nav ul li {
	display:inline-block;
}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	line-height: 40px;
	text-decoration:none;
}

section#navigation {
	display: block;
	width: 100%;
	text-align: center;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 41px; /* the height of the main nav */
	text-align: center;
	margin: 3px 0 0 -85px;
}

nav ul ul li {
	margin-bottom: 3px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* First Tier Dropdown */
nav ul ul li {
	width:166px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-40px; 
	left:170px;
}