<h2><% if current_user %>New User<% else %>Sign up<% end %></h2>
</section>
<section id="main">
<%= render 'form', user: @user %>
<% if current_user %>
<label>&nbsp;</label><a href="<%= users_path %>"><button>Back</button></a>
<% end %>