<h2>Show User</h2>
</section>
<section id="main">
<div class="field">
  <label>Name:</label>
  <%= @user.name %>
</div>

<div class="field">
  <label>Email:</label>
  <%= @user.email %>
</div>

<label>&nbsp;</label><%= link_to 'Edit', edit_user_path(@user) %> <%= link_to 'Back', users_path %>