<h2>Show User</h2>
</section>
<section id="main">
<div class="field">
  <label>Name:</label>
  <%= @user.name %>
</div>

<div class="field">
  <label>Email:</label>
  <%= @user.email %>
</div>
<label>&nbsp;</label><a href="<%= edit_user_path(@user) %>"><button>Edit User</button></a>