<h2>Home</h2>
</section>
<section id="main" class="static">
		<h3 style="margin-bottom: 0">Welcome to TestSuite!</h3>
		<p>This has been created after finding that there is no easy-to-use tool for creating simple tests.</p>
		<p>With TestSuite, exams including their questions and results can be created, configured and eventually stored in a database.</p>
	<fieldset class="feature">
		<legend>Exam Features:</legend>
		<ul class="features">
			<li>Question pool (questions total / active / in exam)</li>
			<li>Questions can be shuffled</li>
			<li>Answers can be shuffled as well</li>
			<li>Optional &quot;Hint&quot;-button</li>
			<li>Optional &quot;Check&quot;-button</li>
			<li>Optional Timer functionality</li>
			<li>Optional navigation</li>
			<li>Result table</li>
		</ul>
	</fieldset>
	<fieldset class="feature">
		<legend>Question Features:</legend>
		<ul class="features">
			<li>Three question types:<ul>
				<li>checkbox</li>
				<li>radio-button</li>
				<li>text</li>
			</ul></li>
			<li>Simple image upload & drag'n'drop functionality in question editor</li>
			<li>Up to 10 answers per question (plus 'active' & 'correct' setting)</li>
		</ul>
	</fieldset>
	<fieldset class="feature">
		<legend>General Features:</legend>
		<ul class="features">
			<li>User login</li>
			<li>Two user roles: admin & student</li>
			<li>admins create exams, questions, upload pictures & manage users</li>
			<li>students can take exams, save their results and download tests as HTML file</li>
		</ul>
	</fieldset>