<h2>Images</h2>
</section>
<section id="main">

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Type</th>
      <th>Exam</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.image.to_s.split('/').last.split('.').first %></td>
        <td width="75"><%= picture.image.to_s.split('.').last %></td>
        <td><%= Exam.where(id: picture.exam).first.name %></td>
        <td width="75"><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>