<h2>Show Picture</h2>
</section>
<section id="main">
<div class="field">
  <label>Image</label>
  <img src="<%= @picture.image %>" />
</div>

<div class="field">
  <label>Exam:</label>
  <% if Exam.find(@picture.exam) != nil %><%= Exam.find(@picture.exam).name %><% else %>none<% end %>
</div>
<label>&nbsp;</label><a href="<%= edit_picture_path(@picture) %>"><button>Edit</button></a>