<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Testsuite</title>
        <link rel="stylesheet" href="/css/exam.css" />
    </head>
    <body>
    	<section id="wrapper">
        <%= yield %>
	    </section>
    </body>
</html>