<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Testsuite - <%= @exam.name %></title>
        <link rel="stylesheet" href="/css/exam.css" />
    </head>
    <body>
    	<section id="wrapper">
        <%= yield %>
	    </section>
        <script>
            document.addEventListener('contextmenu', event => event.preventDefault());
            window.addEventListener("keydown", function(e) {
                if([9, 17, 18, 27, 33, 34, 35, 36, 37, 38, 39, 40, 46, 91, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123].indexOf(e.keyCode) > -1) {
                    e.preventDefault();
                }
            }, false);
        </script>
    </body>

<%
if current_user.role == "admin"
    folder       = "files/"
    path         = (folder + @exam.name + ".html").to_s

    if File.exist?(path)
        File.delete(path)
    end

    content      = '<!DOCTYPE html><html lang="en"><head><title>Testsuite - ' + @exam.name + '</title><link rel="stylesheet" href="exam.css" /></head><body><section id="wrapper">' + yield.gsub('../img/', '').gsub('../../uploads/picture/image/', '').gsub('<a class="button finish" id="save_result" href="#">SAVE RESULT</a><a class="button finish" id="exit" href="/exams">EXIT</a>', '').gsub('var result_link = document.getElementById("save_result");result_link.href = result_path;', '') + '</section><script>document.addEventListener("contextmenu", event => event.preventDefault());window.addEventListener("keydown", function(e) {if([9, 17, 18, 27, 33, 34, 35, 36, 37, 38, 39, 40, 46, 91, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123].indexOf(e.keyCode) > -1) {e.preventDefault();}}, false);</script></body></html>'

    if @exam.shuffle_questions
        file_shuffle_questions = "Q"
    else
        file_shuffle_questions = ""
    end

    if @exam.shuffle_answers
        file_shuffle_answers = "A"
    else
        file_shuffle_answers = ""
    end

    if @exam.hints
        file_hints = "H"
    else
        file_hints = ""
    end

    if @exam.checks
        file_checks = "C"
    else
        file_checks = ""
    end

    if @exam.timer
        file_timer = "T"
    else
        file_timer = ""
    end

    if @exam.navigation
        file_navigation = "N"
    else
        file_navigation = ""
    end

    if @exam.questions != nil && @exam.questions > 0

        zipfile_name = 'public/' + @exam.name.to_s + "_" + @exam.id.to_s + "_" + file_shuffle_questions + file_shuffle_answers + file_hints + file_checks + file_timer + file_navigation + ".zip"

        if File.exist?(zipfile_name)
            File.delete(zipfile_name)
        end

        File.open(path, "w+") do |f|
          f.write(content)
        end

        pictures = Picture.where(exam: @exam.id)
          images = []
        pictures.each_with_index do |picture, index|
            images[index] = picture.image.to_s[1..-1]
        end

        input_filenames = [(@exam.name + '.html').to_s, 'exam.css','icon_check.png','icon_correct.png','icon_error.png','icon_hint_active.png','icon_hint_inactive.png','icon_incorrect.png','icon_left.png',
        'icon_right.png','icon_show.png']

        Zip::File.open(zipfile_name, Zip::File::CREATE) do |zipfile|
            input_filenames.each do |filename|
                zipfile.add(filename, File.join(folder, filename))
            end
            images.each do |filename|
                zipfile.add(filename.split('/').last, (Rails.root.to_s + '/public/' + filename).gsub('/', "\\"))
            end
        end
    end
end
%>
</html>