<!DOCTYPE html>
<html>
  <head>
    <title>Image Upload</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/css/upload.css" />
    <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <section id="head">
      <%= yield %>
    </section>
  </body>
</html>